:root {
  --primary-orange: #FF9F1C;
  --secundary-orange: #FFBF69;

  --dark-gray: #474747;
  --light-gray: #D4D4D4;

  --light-base: #FFFFFF;
  --secondary-light-base: #F2F2F2;

  --online-green: #39B54A;
  --online-green-dark: #386C0B;

  --logout-red: #A3320B;
  --logout-red-dark: #6B0504;

  --personalized-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
  --normal-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);

  --smooth-transition: all 0.3s;
}

.chat-container {
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.user-box {
  width: 100%;
  max-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-box h1 {
  padding: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 35px;
  color: var(--primary-orange);
}

.user-box div {
  width: 90%;
  min-height: 200px;
  height: 100%;
  padding: 15px;
  overflow: scroll;
  word-wrap: break-word;
  border: 2px solid var(--light-base);
  border-radius: 10px;
  background: var(--primary-orange);
  box-shadow: var(--personalized-box-shadow);
}

.user-box div strong {
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
  color: var(--online-green);
}

.user-box div strong + p {
  margin-top: 25px;
}

.user-box div p {
  padding: 0px 5px;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  color: var(--light-base);
}

.user-box input {
  width: 90%;
  height: 60px;
  margin: 20px 0;
  padding: 15px;
  border: 2px solid var(--light-base);
  border-radius: 10px;
  font-size: 20px;
  color: var(--light-base);
  background-color: var(--primary-orange);
  box-shadow: var(--personalized-box-shadow);
  transition: var(--smooth-transition);
}

.user-box input:focus {
  border: 4px solid var(--primary-orange);
}

.message-box {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.message-box div {
  width: 90%;
  min-height: 400px;
  height: 80%;
  padding: 10px 25px;
  overflow: scroll;
  border: 2px solid var(--light-base);
  border-radius: 10px;
  background-color: var(--primary-orange);
  box-shadow: var(--personalized-box-shadow);
}

.message-box div span {
  max-width: 80%;
  height: auto;
  margin: 15px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  border: 2px solid var(--light-base);
  border-radius: 10px;
  background-color: var(--light-base);
  box-shadow: var(--normal-box-shadow);
}

.message-box div span strong {
  font-size: 16px;
  line-height: 30px;
}

.message-box div span p {
  font-size: 13px;
  line-height: 20px;
  color: var(--dark-gray);
}

.message-box form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.message-box form input {
  width: 70%;
  height: 60px;
  padding: 15px;
  border: 2px solid var(--light-base);
  border-radius: 10px;
  font-size: 20px;
  color: var(--light-base);
  background-color: var(--primary-orange);
  box-shadow: var(--personalized-box-shadow);
  transition: var(--smooth-transition);
}

.message-box form input:focus {
  border: 4px solid var(--primary-orange);
}

.message-box form button[type=button] {
  padding: 10px 10px;
  margin-right: 5px;
  cursor: pointer;
  border: 2px solid var(--light-base);
  border-radius: 10px;
  background-color: var(--logout-red);
  box-shadow: var(--personalized-box-shadow);
  transition: var(--smooth-transition);
}

.message-box form button[type=button]:hover {
  background-color: var(--logout-red-dark);
}

.message-box form button[type=submit] {
  padding: 10px 10px;
  margin-left: 5px;
  cursor: pointer;
  border: 2px solid var(--light-base);
  border-radius: 10px;
  background-color: var(--online-green);
  box-shadow: var(--personalized-box-shadow);
  transition: var(--smooth-transition);
}

.message-box form button[type=submit]:hover {
  background-color: var(--online-green-dark);
}

@media (max-width: 800px) {
  .chat-container {
    min-height: 100vh;
    flex-direction: column;
  }

  .user-box {
    max-width: 95%;
  }

  .user-box h1 {
    padding: 15px;
    font-size: 30px;
  }

  .message-box {
    margin: 30px 0 0 0;
    max-width: 95%;
  }

  .message-box div {
    padding: 5px 12px;
  }

  .message-box div span {
    min-width: 90%;
    overflow: hidden;
  }

  .message-box form {
    margin-top: 20px;
    flex-direction: column;
  }

  .message-box form input {
    width: 90%;
  }

  .message-box form button[type=button] {
    width: 90%;
    margin: 10px 0;
  }

  .message-box form button[type=submit] {
    width: 90%;
    margin: 10px 0;
  }

}
