@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  width: 5px;
  height: 0;
  margin: 5px 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  border: none;
  background-color: var(--secundary-orange);
}

::placeholder {
  color: var(--light-base);
}

:-ms-input-placeholder {
  color: var(--light-base);
}

::-ms-input-placeholder {
  color: var(--light-base);
}

:root {
  --primary-orange: #FF9F1C;
  --secondary-orange: #FFBF69;
  --dark-gray: #474747;
  --light-gray: #D4D4D4;
  --light-base: #FFFFFF;
  --secondary-light-base: #F2F2F2;
  --online-green: #39B54A;
  --online-green-dark: #386C0B;
  --logout-red: #A3320B;
  --logout-red-dark: #6B0504;
  --personalized-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
  --normal-box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  --smooth-transition: all 0.3s;
  --font: 'Oswald', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-base);
  font-family: var(--font);
}

input, button {
  font-family: var(--font);
}
